{% extends "main/base.html" %}
{% load static %}


{% block title %}
Celestial shop
{% endblock title %}

{% block content %}
    <div class="list d-flex">
        <div class="sidebar">
            <h3>Categories</h3>
            <nav class="category_list">
                <ul>
                    <li {% if not category %} class="selected"{% endif %}>
                        <a href="{% url 'main:category_list' %}" class="all_cat_list">All category</a>
                    </li>
                    {% for category in categories %}
                        {% if celestial.category %}
                            <li {% if category == category_slug %}class="selected"{% endif %}>
                                <a href="{{ category.get_absolute_url}}">{{ category.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="main-title">
                {% if category %}{{ category.name }}{% else %}Celestial objects{% endif %}
            </div>
            <div class="celestial-list">
                <div class="items">
                    {% for celestial_obj in celestial_objs %}
                        <div class="item">
                            <a href="{{ celestial_obj.get_absolute_url}}" class="index-card d-flex flex-column align-items-center text-center">
                                <img src="{{ celestial_obj.image.url }}" class="card-img" alt="">
                                <h5 class="title-card">{{ celestial_obj.name }}</h5>
                                {% if product.discount %}
                                    <div class="cart-discount d-flex gap-2">
                                        <p class="line">&#8383; {{ celestial_obj.price }}</p>
                                        <p class="price pt-2">&#8383; {{ celestial_obj.cell_price }}</p>
                                    </div>
                                {% else %}
                                    <p class="price">$ {{ celestial_obj.price }}</p>
                                {% endif %}
                            </a>   
                        </div>
                    {% endfor %}         
                </div>
            </div>
            
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="">
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                    <li>
                        <a href="?page={{ page }}" class="{% if page_obj.number == page %}disabled{% endif %}">{{ page }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="">              
                    <a href="?page=1">&laquo; last</a>
                    <a href="?page={{ page_obj.next_page_number }}">next</a>                
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content %}